*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: "Comic Sans MS", cursive, sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#header_wrapper {
    background: #a19582;
    padding: 15px 0px;
	
	
    position: center;
}

header{
	background-color: #a19582;
	color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}
.topHeader {
    background-color: #333;
	color: white; 
  	padding-top: 100px;
	padding-bottom: 100px;


}

.topHeader p, .topHeader h1{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 168px;
	margin-bottom: 60px;
	text-align: center;


}

.scroll-linkr{
 	background-color:#000;
	color: white; 
 	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 0px 0px 50px 0px

}



#navbar {
  overflow: hidden;
  background-color: #333;
}
/* Navbar links */

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; 
	padding-bottom: 60px;

}

.g-60{
	width: 50%;
	float: right ;
	margin: -20px
}

.g-30{
	width: 50%;
	float: left;
	margin: -20px;
}

.show{
	border: 20px solid blue;
	padding: 20px;
}

.padded{
	padding: 20px; 
}